name: my-first-workflow
#To get a trigger on every push in this repo
on: 
  push:
    branches:

      - main
  pull_request:
    branches:
      - main

env:
  ENV_TYPE: DEV
  APP_USER: thinknyx
  APP_PORT: 80

  
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
     - name: step1
       run: |
        pwd
        ls -ltr
        hostname
     - name: step-2 - Checkout
       uses: actions/checkout@v6.0.0
     - name: step-3
       run: |
        echo `pwd` >> myartifact.txt
        mkdir artifacts
        echo `ls -ltr` >> artifacts/list
        echo `hostname` >> artifacts/hostname.txt
     - name: Upload Single file
       uses: actions/upload-artifact@v6.0.0
       with:
         name: single_file
         path: ./myartifact.txt
    

  job2:
    name: JOB2
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: checking current directory
        run: |
          pwd
          ls -ltr
      - name: Download single file artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: single_file
        
      - name: Referencing Environment variables
        run: |
          echo "[INFO] Running Deployment for $ENV_TYPE with user $APP_USER."
          echo "[INFO] Once deployment application is accessible on $APP_PORT."

      - name: Referencing Repo Secrets
        run: |
          echo "[INFO] Application password is ${{ secrets.APP_PASSWORD }}"
  job3:
    name: JOB3
    runs-on: ubuntu-latest
    steps:
      - name: Referencing context in buitl-in varaibles
        run: |
          echo "[INFO] Triggered by ${{ github.event_name }}."
          echo "[INFO] New changes have been added by ${{ github.actor }} in ${{ github.ref_name }} branch."
          echo "[INFO] Current Step is running on ${{ runner.os }}."
          echo "[INFO] Current JOB ID is ${{ job.check_run_id }}."
          
      - name: checking current directory download
        run: |
          pwd
          ls -ltr

  staging:
    name: STAGE DEPLOYMENT
    runs-on: ubuntu-latest
    steps:
      - name: Refrencing Env specif variables
        run: echo "[INFO]" Running deployment on ${{ vars.HOST }} using ${{ vars.USER }}."
    environment:
      name: STAGING

  production:
    name: PRODUCTION DEPLOYMENT
    runs-on: ubuntu-latest
    steps:
      - name: Refrencing Env specif variables
        run: echo "[INFO]" Running deployment on ${{ vars.HOST }} using ${{ vars.USER }}."
    environment:
      name: PRODUCTION
      
         
  #    - name: Checkin OS Release for Github Hosted Runner
  #      run: cat /etc/os-release
  # job2:
  #    name: JOB2
  #    runs-on: ubuntu-latest
  #    steps:
  #     - name: Checking the Hostname for Runner
  #       run: hostname
  #     - name: Running multiple commands
  #       run: |
  #         echo "HI from Habeeb"
  #         echo "current time is `date`"
  #         sleep 20
  # job3:
  #   name: JOB3
  #   needs: job1
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Job for multiple dependencies
  #       run: sleep 10

  # job4:
  #    name: JOB4
  #    needs: [job1, job2, job3]
  #    runs-on: ubuntu-latest
  #    steps:
  #       - name: Job for multiple dependencies
  #         run: sleep 10
  
