name: my-first-workflow
#To get a trigger on every push in this repo
on: 
  push:

  
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
     - name: step1
       run: |
        pwd
        ls -ltr
        hostname
     - name: step-2 - Checkout
       uses: actions/checkout@v5.0.0
     - name: step-3
       run: |
        pwd
        ls -ltr
        hostname
  #    - name: Checkin OS Release for Github Hosted Runner
  #      run: cat /etc/os-release
  # job2:
  #    name: JOB2
  #    runs-on: ubuntu-latest
  #    steps:
  #     - name: Checking the Hostname for Runner
  #       run: hostname
  #     - name: Running multiple commands
  #       run: |
  #         echo "HI from Habeeb"
  #         echo "current time is `date`"
  #         sleep 20
  # job3:
  #   name: JOB3
  #   needs: job1
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Job for multiple dependencies
  #       run: sleep 10

  job4:
     name: JOB4
     needs: [job1, job2, job3]
     runs-on: ubuntu-latest
     steps:
        - name: Job for multiple dependencies
          run: sleep 10
  
