name: my-first-workflow
#To get a trigger on every push in this repo
on: 
  push:

  
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
     - name: step1
       run: |
        pwd
        ls -ltr
        hostname
     - name: step-2 - Checkout
       uses: actions/checkout@v5.0.0
     - name: step-3
       run: |
        echo `pwd` >> myartifact.txt
        mkdir artifacts
        echo `ls -ltr` >> artifacts/list
        echo `hostname` >> artifacts/hostname.txt
     - name: Upload Single file
       uses: actions/upload-artifact@v5.0.0
       with:
         name: single_file
         path: ./myartifact.txt
     - name: Upload from directroy
       uses: actions/upload-artifact@v5.0.0
       with:
        name: directory_artifacts
        path: artifacts/
     - name: upload from multiple paths
       uses: actions/upload-artifact@v5.0.0
       with:
         name: multiple_paths
         path: |
           ./myartifact.txt
           artifacts/
  #    - name: Checkin OS Release for Github Hosted Runner
  #      run: cat /etc/os-release
  # job2:
  #    name: JOB2
  #    runs-on: ubuntu-latest
  #    steps:
  #     - name: Checking the Hostname for Runner
  #       run: hostname
  #     - name: Running multiple commands
  #       run: |
  #         echo "HI from Habeeb"
  #         echo "current time is `date`"
  #         sleep 20
  # job3:
  #   name: JOB3
  #   needs: job1
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Job for multiple dependencies
  #       run: sleep 10

  # job4:
  #    name: JOB4
  #    needs: [job1, job2, job3]
  #    runs-on: ubuntu-latest
  #    steps:
  #       - name: Job for multiple dependencies
  #         run: sleep 10
  
