name: CI Pipleine using Resuable Workflow.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  actions: read
  security-events: write
  packages: write
  contents: read

jobs:
  ci-pipleine-job:
    uses: actions2026/reusable-workflows/.github/workflows/ci-pipeline.yml@main #location of the reusable workflow. Org/repo/worflow path@branch
    with: #used to set arguments, like in actions
      run_codeql: true
      run_sonarqube: true
      run_build: true
      run_ghcr_publish: true
    secrets: 
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} #passing the secret to the reusable workflow. This allows the reusable workflow to access the secret and use it for authentication when interacting with SonarCloud.
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }} #passing the secret to the reusable workflow. This allows the reusable workflow to access the secret and use it for authentication when interacting with DockerHub.
      DOCKERHUB_ACCESS_TOKEN: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }} #passing the secret to the reusable workflow. This allows the reusable workflow to access the secret and use it for authentication when interacting with DockerHub.
  
  deploy_with_kubectl:
    needs: ci-pipleine-job
    uses: actions2026/reusable-workflows/.github/workflows/deploy-with-kubectl.yml@main #location of the reusable workflow. Org/repo/worflow path@branch
    with: #inputs needed
      ENVIRONMENT: STAGING
      IMAGE_NAME: ghcr.io/actions2026/thinknyx_app

    secrets:
      KUBECONFIG: ${{ secrets.KUBECONFIG }} #passing the secret to the reusable workflow. This allows the reusable workflow to access the secret and use it for authentication when interacting with Kubernetes cluster.

  run-selenium-tests:
    environment: STAGING
    needs: deploy_with_kubectl
    runs-on: github-actions-scaleset-demo
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: Install Google Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y wget gnupg ca-certificates
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Install Dependencies
      run: |
        pip install -r requirements-tests.txt

    - name: Run Selenium Tests
      env:
        APP_BASE_URL: ${{ vars.APP_BASE_URL }}
      run: |
        mkdir -p reports
        pytest tests/ --html=reports/selenium-report.html --self-contained-html

    - name: Upload Selenium Test Report
      uses: actions/upload-artifact@v5
      with:
        name: selenium-test-report
        path: reports/
    















      #     name: Deploy with kubectl
#     runs-on: github-actions-scaleset-demo
#     needs: ci-pipleine-job
#     steps:
#     - name: Checkout Repository
#       uses: actions/checkout@v3

#     - name: Install kubectl
#       run: |
#         curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
#         chmod +x ./kubectl
#         sudo mv ./kubectl /usr/local/bin/kubectl
#         kubectl version --client
#     - name: Configure kubectl
#       run: |
#         mkdir -p $HOME/.kube
#         echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
#         kubectl version
#         kubectl get nodes

#     - name: Install yq
#       run: |
#         sudo curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq
#         sudo chmod +x /usr/local/bin/yq
#         yq --version

#     - name: update image name in deployment YAML
#       run: |
#         IMAGE_TAGS="${{ github.run_id }}-${GITHUB_SHA::7}"
#         export IMAGE="ghcr.io/actions2026/thinknyx_app:${IMAGE_TAGS}"
#         yq e -i '.spec.template.spec.containers[0].image = strenv(IMAGE)' manifests/deployment.yaml  
#         cat manifests/deployment.yaml
# ####uses yaml query to filter and edit/replace field value in manifests/deployment.yaml file with "IMAGE" env variable created
   