name: my-first-workflow
#To get a trigger on every push in this repo
on: 
  push:
    branches:
      - dev
      - 'feature-*'
      - main
  pull_request:
    branches:
      - main

  
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
     - name: step1
       run: |
        pwd
        ls -ltr
        hostname
     - name: step-2 - Checkout
       uses: actions/checkout@v6.0.0
     - name: step-3
       run: |
        echo `pwd` >> myartifact.txt
        mkdir artifacts
        echo `ls -ltr` >> artifacts/list
        echo `hostname` >> artifacts/hostname.txt
     - name: Upload Single file
       uses: actions/upload-artifact@v6.0.0
       with:
         name: single_file
         path: ./myartifact.txt
    

  job2:
    name: JOB2
    runs-on: ubuntu-latest
    steps:
      - name: checking current directory
        run: |
          pwd
          ls -ltr
      - name: Download single file artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: single_file
          # path: artifacts/
      - name: checking current directory download
        run: |
          pwd
          ls -ltr
         
  #    - name: Checkin OS Release for Github Hosted Runner
  #      run: cat /etc/os-release
  # job2:
  #    name: JOB2
  #    runs-on: ubuntu-latest
  #    steps:
  #     - name: Checking the Hostname for Runner
  #       run: hostname
  #     - name: Running multiple commands
  #       run: |
  #         echo "HI from Habeeb"
  #         echo "current time is `date`"
  #         sleep 20
  # job3:
  #   name: JOB3
  #   needs: job1
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Job for multiple dependencies
  #       run: sleep 10

  # job4:
  #    name: JOB4
  #    needs: [job1, job2, job3]
  #    runs-on: ubuntu-latest
  #    steps:
  #       - name: Job for multiple dependencies
  #         run: sleep 10
  
